Repository MarcoOquendoC/Laptop-Station-Frontend, pull requests merged in 2023-03, with the labels that each got.

#16 Final group capstone: set up your Kanban board
  LICENSE
  README.md
Labels: documentation, Setup, React-Redux, Gitflow

#25 Update registration functionality
  src/App.js
  src/api/api.js
  src/components/NavPrincipal.jsx
  src/components/Registration.jsx
  src/components/Session.jsx
Labels: enhancement, React-Redux, Reducers, Components

#26 Feature/details
  src/App.js
  src/components/Detail.jsx
  src/components/Home.jsx
Labels: enhancement, React-Redux, Components

#28 Feature/reserves
  src/App.js
  src/api/api.js
  src/components/Detail.jsx
  src/components/NavPrincipal.jsx
  src/components/Registration.jsx
  src/components/Reserve.jsx
  src/components/Session.jsx
  src/redux/Reserve/reserve.js
  src/redux/configureStore.js
Labels: enhancement, React-Redux, Reducers, Components, Navbar

#32 Feature/add delete items
  src/App.js
  src/api/api.js
  src/components/AddItem.jsx
  src/components/Home.jsx
  src/components/NavPrincipal.jsx
  src/redux/Home/home.js
  src/redux/configureStore.js
Labels: help wanted, React-Redux, Components

#31 Add testing for all components
  package-lock.json
  package.json
  src/_Test_/Detail.test.jsx
  src/_Test_/Home.test.jsx
  src/_Test_/NavPrincipal.test.jsx
  src/_Test_/Registration.test.jsx
  src/_Test_/Reserve.test.jsx
  src/_Test_/Session.test.jsx
  src/_Test_/__snapshots__/Detail.test.jsx.snap
  src/_Test_/__snapshots__/Home.test.jsx.snap
  src/_Test_/__snapshots__/NavPrincipal.test.jsx.snap
  src/_Test_/__snapshots__/Registration.test.jsx.snap
  src/_Test_/__snapshots__/Reserve.test.jsx.snap
  src/_Test_/__snapshots__/Session.test.jsx.snap
  src/components/Detail.jsx
  src/components/Home.jsx
Labels: Testing, jest

#35 Add styles for Reserves, reservations ans Add Item
  src/components/AddItem.jsx
  src/components/DeleteItems.jsx
  src/components/Detail.jsx
  src/components/Home.jsx
  src/components/Reservations.jsx
  src/components/Reserve.jsx
  src/css/_viewfinder.scss
  src/css/styles.css
  src/css/styles.css.map
Labels: enhancement, Stylelint, Style

#36 Es6/Refactor & Clean code
  src/App.js
  src/api/api.js
  src/components/AddItem.jsx
  src/components/NavPrincipal.jsx
  src/components/Reservations.jsx
  src/components/Reserve.jsx
  src/redux/Home/home.js
Labels: enhancement, ES6

#38 Solve conflicts
  src/App.js
  src/api/api.js
  src/components/AddItem.jsx
  src/components/NavPrincipal.jsx
  src/components/Reservations.jsx
  src/components/Reserve.jsx
  src/redux/Home/home.js
Labels: enhancement, Components, ES6

#40 Carousel and styles
  package-lock.json
  package.json
  src/components/AddItem.jsx
  src/components/DeleteItems.jsx
  src/components/Detail.jsx
  src/components/Home.jsx
  src/components/NavPrincipal.jsx
  src/components/Reserve.jsx
  src/css/_globals.scss
  src/css/_viewfinder.scss
  src/css/styles.css
  src/css/styles.css.map
Labels: Stylelint, Style
